/* <Test Colors- */
#test-colors-div {
    position: fixed;
    top:0;
    right:0;
}

#test-colors-btn, #go-home {
    background-color: black;
    color: lime ;
    border: none ;
}

#go-home a {
    color: lime ;
    text-decoration: none ;
}

#test-colors-btn:hover, #go-home:hover{
    background-color: rgb(70, 70, 70);
}
/* -Test Colors> */

/* <Body & Main- */
body {
    margin: 0 ;
}

#main {
    border-radius: 5px ;
    margin: 25px 7.5px ;
}

p {
    margin: 0 ;
}
/* -Body & Main> */

/* <Header- */
header {
    padding: 30px 15px 15px ;
}
#title {
    margin: 0 0 15px;
}
/* -Header> */

/* <Main- */
main {
    padding: 0 15px 15px ;
}

#img-figure {
    margin: 0 ;
    padding: 10px ;
}

#image {
    max-width: 100% ;
    margin: 0 auto 10px ;
    display: block ;
}

#tribute-info {
    max-width: 600px ;
    margin: 0 auto ;
    padding: 0 0 30px ;
}

#tribute-info h2 {
    margin: 0 ;
    padding: 30px 0 ;
}

#tribute-info li {
    margin:20px 0 ;
}

#quote {
    box-sizing: border-box ;
    max-width: 600px ;
    margin: 0 auto ; 
    padding: 0 25px ;
}

#quotee {
    margin: 15px 0 0 ;
}
/* -Main> */

/* <Footer- */
footer h2 {
    margin: 0 ;
    padding: 30px 0 ;
}

footer {
    padding: 0 15px;
}
/* -Footer> */