/* < header - */
#navbar {
    /* This determines the general layout of the navbar */
    /* This also sticks the navbar to the top of the screen */
    /* The z-index makes sure this layers over any position:absolute elements */
    height: 75px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

#navbar {
    /* These are the flexbox properties*/
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
}

#navbar a {
    /* This simply maintains the spacing between the links */
    /* margin-right: 40px; */
}
/* - header ! */
/* < main - */
/* <- #welcome-section -- */
#welcome-section {
    /* This makes sure that this section fills the screen entirely  */
    height: 100vh;
}

#welcome-msg {
    /* Apparently this is the only way to center this div both horizontally and vertically */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#welcome-msg h1 {
    margin-bottom: 5px;
}
/* -- #welcome-section -! */
/* <- #projects -- */
#projects {
    /* This padding is enough to keep the <h2> from a respectable distance from the navbar */
    padding-top: 100px;
}

#projects hr {
    /* This is for the line under the <h2> */
    width: 600px;
    border: solid 1px white;
}

/* <-- #projects-grid --- */
#projects-grid {
    text-align: center;
    max-width: 1320px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-auto-rows: 460px; */
    margin: 0 auto;
    gap: 40px;
    margin-top: 40px;
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
    align-content: center;
}

.project-tile {
    max-width: 400px;
}

.project-tile-img {
    padding-bottom: 97.5%;
    /* max-height: 390px; */
    max-width: 400px;
    background-size: cover;
    background-position: center;
}

.project-tile-title {
    padding: 20px;
    height: 70px;
    box-sizing: border-box;
}
/* --- #projects-grid --! */

#more-projects-btn {
    /* This is the styling for the "Show all" button */
    border: none;
    padding: 10px 20px;
    margin: 50px 0 80px;
} 
/* -- #projects -! */
/* <- #contact -- */

/* -- #contact -! */
/* - main ! */
/* < footer - */

/* - footer ! */