:root{
    --level1: #9268F7;
    --level2: #5976D4;
    --level3: #6ECBEB; 
    --level4: #58D6B2;
    --level5: #89F59A;
    --level6: #D4DE81;
    --level7: #F5E69A;
    --level8: #DEBC81;
    --level9: #FAAB7D;
    --level10: #FA8790;
}

* {
    color: black;
}

body {
    background-color: var(--level1) ;
}

header {
    background-color: var(--level2) ;
}

main {
    background-color: var(--level3) ;
} 

footer {
    background-color: var(--level4) ;
} 

#welcome-section {
    background-color: var(--level5) ;
    background-image: none;
} 

#projects {
    background-color: var(--level6) ;
} 

#projects h2 {
    background-color: var(--level2) ;
} 

#projects-grid {
    background-color: var(--level3) ;
} 

#contact {
    background-color: var(--level7) ;
} 

#contact-wrapper {
    background-color: var(--level3) ;
} 

#socials {
    background-color: var(--level4) ;
} 

#footer-items  {
    background-color: var(--level5) ;
} 
.project-tile-title {
    background-color: var(--level5) ;
} 

.project-tile  {
    background-color: var(--level8) ;
} 

#navbar {
    background-color: var(--level9) ;
} 

#welcome-msg {
    background-color: var(--level6) ;
} 