/* <HTML and Body- */
html {
    background-image: url("https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg") ;
    background-repeat: no-repeat ;
    background-attachment: fixed ;
    background-size: cover ;
    background-position: center ;   
}

body {
    font-family: 'Poppins', sans-serif ;
    color: white ;
    text-align: center ;
}

body {
    background-image: linear-gradient(135deg, rgba(68, 66, 192, 0.8),rgba(111, 111, 155, 0.8)) ;
    background-repeat: no-repeat ;
    background-attachment: fixed ;
    background-size: cover ;
    background-position: center ; 
}
/* -HTML and Body> */

/* <Header- */
#title {
    font-weight: 400 ;
}

#description {
    font-size: 18px ;
    font-style: italic ;
    font-weight: 300 ;                                    
}
/* -Header> */

/* <Main- */
main {
    background-color: rgba(21, 21, 46, 0.8) ;
    text-align: left ;
}

.field p {
    font-size: 18px ;
    text-align: left ;
}

.text-field {
    font-size: 16px ;
    font-family: 'Poppins', sans-serif ;
}

#radio-label span, #checkbox-label span {
    font-size: 18px ;
}

.sublabel, #checkbox-label .sublabel {
    font-size: 14px;

}

#submit {
    background-color: #37AF65 ;
    font-size: 16px ;
    font-family: 'Poppins', sans-serif ;
    color: white ;
}

/* -Main> */