header {
    padding:20px;
}

header i {
    display: inline-block;
    font-size: 32px;
    margin: 0 20px ;
}

h1 {
    display: inline-block;
    font-size: 32px;
    margin: 0 ;
}


main {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 25px;
}

main {
    padding: 25px;
}

#introduction {
    box-sizing: border-box;
    max-width: 850px;
    border: dashed lime 2px;
    padding: 25px;
    margin: 0 auto;
}

#introduction h2 {
    margin: 0 ;
}

#certification-grid {
    box-sizing: border-box;
    max-width: 850px;
    /* border: dashed lime 1px;  */
    margin: 0 auto;
    /* padding: 25px; */
}

#certification-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-items: center;
    align-items: center;
}

.certification-pad {
    box-sizing: border-box;
    width: 175px;
    height: 175px;
    border: dashed lime 1px;
    border-radius: 15px ;
    margin:15px;
}

.certification-pad {
    padding: 30px 15px;
}


.certification-pad:hover {
    animation-name: pad-hover;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    
}

@keyframes pad-hover {
    100% {
        border: solid white 5px;
        border-radius: 0;
        color: white;
        width:185px;
        height:185px;
        margin:10px;
        padding: 30px 15px;
    }
}

/* <Footer- */
footer {
    padding:20px;
}

#social-links a{
    color: lime;
    text-decoration: none;
}

#social-links i{
    font-size: 30px;
    margin: 0 5px;
}

#social-links i:hover {
    animation-name: social-link-hover;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    
}

#copyright p{
    display: inline-block;
}

@keyframes social-link-hover {
    100% {
        color:white;
    }
}

/* -Footer> */

