/* <Test Colors- */
#test-colors-div {
    position: fixed;
    top:0;
    right:0;
    z-index: 10;
}

#test-colors-btn, #go-home, #fcc-rules, #fcc-sample {
    background-color: black;
    color: lime ;
    border: none ;
}

#go-home a, #fcc-rules a, #fcc-sample a {
    color: lime ;
    text-decoration: none ;
}

#test-colors-btn:hover, #go-home:hover, #fcc-rules:hover, #fcc-sample:hover{
    background-color: rgb(70, 70, 70);
}
/* -Test Colors> */

